.about {
  // background:  rgb(129, 44, 165);

  // background: linear-gradient(
  //   180deg,
  //   rgb(185, 184, 185) 0%,
  //   rgb(202, 170, 202) 70%,

  //   rgb(144, 66, 177) 100%,
  //   // rgb(129, 44, 165) 100%
  //   // rgb(212, 209, 212) 80%,
  //   // rgb(185, 184, 185) 100%
  // );
  height: 100%;
  padding-bottom: 25px;
  margin: auto;

  .about-me {
    // background: #ffffff;
    width: 80%;
    margin: auto;
    // padding: 20px 20px;
    text-align: center;
    border-radius: 10px;
    @media (min-width: $md) {
      width: 60%;
      margin: 0 auto;
    }
    .about-text {
      margin-bottom: 15px;
      line-height: 1.4rem;
      font-size: 1.2rem;
    }
  }
}
