.about {
  background: rgb(125, 32, 165);
  height: 100%;
  padding-bottom: 25px;
  .about-me {
    background: #ffffff;
    width: calc(100% -40px);
    margin: 0 40px;
    padding: 20px 20px;
    text-align: center;
    border-radius: 10px;
    .about-text {
      margin-bottom: 15px;
      line-height: 1.2rem;
    }
  }
}
