.fade-up-animation {
  animation: fade-up 1s linear;
}

@keyframes fade-up {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@-moz-keyframes fade-up {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes fade-up {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.fade-up-body {
  animation: fade-enter 0.75s linear;
}

@keyframes fade-enter {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@-moz-keyframes fade-enter {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-webkit-keyframes fade-enter {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
