.header {
  height: 80px;
  min-width: $sm;
  width: 100%;
  background-color: #000505;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fefcfd;
  position: sticky;
  top: 0;

  .name {
    font-weight: 400;
    margin-left: 25px;
    font-style: italic;
  }

  .nav {
    display: flex;
    flex-direction: column;
    @media (min-width: $md) {
      flex-direction: row;
    }
    .tab {
      margin-right: 25px;
      padding-bottom: 5px;
      background-color: #000505;
      color: #fefcfd;
      border: none;
      cursor: pointer;
    }
    .active {
      border-bottom: 1px solid #fefcfd;
    }
  }
}
