.single-project {
  text-align: center;
  width: 90%;
  margin: auto;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;
  padding-top: 15px;

  @media (min-width: $md) {
    margin-bottom: 50px;
  }
  // for flip
  .project-flip-box {
    height: 400px;
    perspective: 1000px;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    border: 1px solid black;
    margin-bottom: 25px;
    &:hover {
      transform: rotateY(180deg);
    }
    &:active {
      transform: rotateY(180deg);
    }
    .project-img-box {
      height: 400px;
      .project-img-sm {
        width: 300px;
        height: 400px;
        object-fit: cover;
        object-position: center top;
      }
    }
  }

  .project-content-front {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    height: 100%;
    width: 100%;
    opacity: 1;
  }
  .project-content-back {
    background: rgb(185, 184, 185);
    transform: rotateY(180deg);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    .img-back {
      opacity: 0.2;
    }
    .project-article {
      position: absolute;
      text-align: center;
      z-index: 1;
      top: 0;
      left: 0;
      margin: 15px;
      .project-note {
        font-weight: bold;
        margin-bottom: 20px;
      }
    }
    .project-head {
      position: absolute;
      bottom: 0;
      width: 100%;
      .project-links {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;

        .project-icon {
          width: 50px;
        }
      }
    }
  }
  .project-title-box {
    line-height: 1.4;
    font-size: 1.4rem;
  }
}
